<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      background: rgb(241, 241, 241);
      box-sizing: border-box;
      display: block;
    }

    .page {
      position: relative;
      height: 100%;
      width: 100%;
      display: block;
      page-break-after: auto;
      margin: 50px;
      overflow: hidden;
    }

    .app-student-notes {
      background-color: #e6e7e9;
      width: 100%;
    }

    @media print {
      .page {
        margin: 0;
        height: 100%;
        width: 100%;
      }
    }

    .header-student-notes {
      background-size: 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      padding: 1rem 5rem;
      align-items: center;
    }

    .logo-instituto-note {
      width: 8rem;
    }

    .logo-instituto-note img {
      width: 100%;
    }

    .nombre-instituto-note {
      color: #fff;
      text-align: center;
      transform: translate(-8rem, 0px);
    }

    .nombre-instituto-note h1 {
      font-weight: bold;
      font-family: arial;
      font-size: 2.2rem;
      font-stretch: condensed;
    }

    .nombre-instituto-note p {
      font-weight: 100;
      font-size: 0.95rem;
    }

    .logo-vive-notes {
      width: 8rem;
    }

    .logo-vive-notes img {
      width: 100%;
    }

    .content-student-notes {
      width: 100%;
      margin: 0 auto;
      margin-top: 2rem;
      display: block;
    }

    .data-student {
      display: grid;
      grid-template-columns: 10fr repeat(4, 3fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .data-student2 {
      display: grid;
      grid-template-columns: repeat(8, auto);
      grid-template-rows: 1fr;
      grid-column-gap: 0.5rem;
      grid-row-gap: 0px;
      margin-bottom: 0.5rem;
    }

    .data-note-student {
      display: grid;
      grid-template-columns: 3fr repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 0.5rem;
      margin-top: 2rem;
    }

    .item-data {
      background-color: #c1e7f5;
      border-radius: 5px;
      text-align: center;
      color: #000;
      font-weight: 600;
      font-size: 1rem;
    }

    .item-data-flex {
      display: flex;
      background-color: transparent !important;
      justify-content: space-around;
      gap: 0.5rem;
    }

    .item-data-flex div {
      background-color: #fff;
      border-radius: 8px;
      text-align: center;
      color: #000;
      font-weight: 600;
      font-size: 1rem;
      width: 100%;
    }

    .data-materia {
      display: grid;
      grid-template-columns: 8fr repeat(4, 2fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0.5rem;
      grid-row-gap: 0px;
    }

    .data-observacion {
      display: grid;
      grid-template-columns: 14fr 2fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0.5rem;
      grid-row-gap: 0px;
      margin-top: 0.5rem;
    }

    .observaciones-note {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .item-data-white {
      background-color: #fff !important;
    }

    .item-note-gris {
      background-color: #808285 !important;
      color: #fff;
    }

    .item-data-flex-azul div {
      background-color: #c1e7f5;
    }

    .data-observacion p {
      margin-bottom: 0;
      font-size: 1.1rem;
      text-align: left !important;
    }

    .data-observacion .observacion {
      padding: 0.8rem 3rem;
    }

    .data-observacion .desempeño {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      background-color: transparent !important;
    }

    .data-observacion .desempeño div {
      width: 100%;
    }

    .data-materia div {
      font-weight: bold !important;
      font-size: 1.1rem !important;
    }

    .container-firma-nombre {
      display: flex;
      justify-content: space-between;
      margin-top: 15rem;
      margin-bottom: 5rem;
      align-items: center;
    }

    .container-firma {
      width: 35%;
      text-align: center;
    }

    .firma {
      border-bottom: 2px solid;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 0.3rem;
    }

    .container-firma p:nth-child(2) {
      margin-bottom: 0;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .container-firma p:nth-child(3) {
      font-size: 1rem;
      font-weight: bold;
    }

    .container-observacion {
      width: 35%;
      background: #fff;
      margin-bottom: 2rem;
      height: 6rem;
      padding: 0.3rem;
      font-size: 1rem;
      border-radius: 8px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="page">
    <div class="app-student-notes">
      <!-- <div class="logo-instituto-note">
      <img src={house} alt="house" />
    </div> -->
      <div class="nombre-instituto-note">
        <h1>
          INSTITUCIÓN EDUCATIVA <br />
          COLEGIO SAN JOSÉ DE CÚCUTA
        </h1>
        <p>
          Resolución de aprobación No. 01880 del 25 de noviembre de 2021 <br />
          Código DANE 154001004716 - NIT. 807.007.504-1 <br />
          Calle 13 No 5-65 Centro - Cúcuta, Norte de Santander Tel: 5482323 <br />
        </p>
      </div>
      <!-- <div class="logo-vive-notes">
      <img src={colegios} alt="" />
    </div> -->
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-4">.col-6 .col-md-4</div>
        <div class="col-md-6 col-xs-4">.col-6 .col-md-4</div>
        <div class="col-md-6 col-xs-4">.col-6 .col-md-4</div>
      </div>
    </div>

    <div class="content-student-notes">
      <div class="data-student">
        <div class="item-data">Estudiante</div>
        <div class="item-data">Documento</div>
        <div class="item-data">Curso</div>
        <div class="item-data">Jornada</div>
        <div class="item-data">Periodo</div>
        <div class="item-data item-data-white">PAOLA ANDREA ANDRADE ARELLANO</div>
        <div class="item-data item-data-white">1090377374</div>
        <div class="item-data item-data-white">11-02 T</div>
        <div class="item-data item-data-white">TARDE</div>
        <div class="item-data item-data-white">1P de 2022</div>
      </div>
      <div class="data-student2">
        <div class="item-data">Promedio</div>
        <div class="item-data item-data-white">5.92 - BAJO</div>
        <div class="item-data">Puesto alumno / curso</div>
        <div class="item-data item-data-white">17</div>
        <div class="item-data">Promedio del Curso</div>
        <div class="item-data item-data-white">7.08 - ALTO</div>
        <div class="item-data">Puesto Curso/Sede</div>
        <div class="item-data item-data-white">9</div>
      </div>
      <div class="data-note-student">
        <div class="item-data item-note-gris">ÁREAS / ASIGNATURAS</div>
        <div class="item-data item-note-gris">1 PERÍODO</div>
        <div class="item-data item-note-gris">2 PERÍODO </div>
        <div class="item-data item-note-gris">3 PERÍODO</div>
        <div class="item-data item-note-gris">4 PERÍODO</div>
        <div class="item-data item-note-gris">FINAL</div>

        <div class="item-data item-data-white">MATEMÁTICAS</div>
        <div class="item-data item-data-flex">
          <div>8.1</div>
          <div>ALTO</div>
        </div>
        <div class="item-data item-data-flex">
          <div>-</div>
          <div>-</div>
        </div>
        <div class="item-data item-data-flex">
          <div>-</div>
          <div>-</div>
        </div>
        <div class="item-data item-data-flex">
          <div>-</div>
          <div>-</div>
        </div>
        <div class="item-data item-data-flex">
          <div>8.1</div>
          <div>ALTO</div>
        </div>

        <div class="item-data">CIENCIAS NATURALES Y EDUCACIÓN AMBIENTAL</div>
        <div class="item-data item-data-flex item-data-flex-azul">
          <div>8.5</div>
          <div>ALTO</div>
        </div>
        <div class="item-data item-data-flex item-data-flex-azul">
          <div>-</div>
          <div>-</div>
        </div>
        <div class="item-data item-data-flex item-data-flex-azul">
          <div>-</div>
          <div>-</div>
        </div>
        <div class="item-data item-data-flex item-data-flex-azul">
          <div>-</div>
          <div>-</div>
        </div>
        <div class="item-data item-data-flex item-data-flex-azul">
          <div>8.5</div>
          <div>ALTO</div>
        </div>
      </div>

      <div class="observaciones-note">
        <div class="data-materia">
          <div class="item-data item-data-white">MATEMÁTICAS</div>
          <div class="item-data">Valoración</div>
          <div class="item-data item-data-white">6.9</div>
          <div class="item-data">Nivel de desempeño</div>
          <div class="item-data item-data-white">ALTO</div>
        </div>
        <div class="data-observacion">
          <div class="item-data item-data-white observacion">
            <p>Usa estrategias aditivas de transformación y composición para dar solución a diferentes
              problemas.
            </p>
            <p>Determina equivalencias entre modelos aditivos o multiplicativos, considerando los procesos de
              transformación y composición.</p>
            <p>Usa estrategias multiplicativas para dar solución a diferentes problemas.</p>
            <p>Determina cuándo un evento es posible, imposible o seguro.</p>
          </div>
          <div class="item-data item-data-white desempeño">
            <div class="item-data item-data-white">BASICO</div>
            <div class="item-data item-data-white">ALTO</div>
            <div class="item-data item-data-white">ALTO</div>
            <div class="item-data item-data-white">ALTO</div>
          </div>
        </div>
      </div>

      <div class="container-firma-nombre">
        <div class="container-firma">
          <div class="firma"></div>
          <p>JAVIER ALONSO GARCIA FLOREZ</p>
          <p>Titular</p>
        </div>
        <div class="container-observacion">
          OBSERVACIÓN
        </div>
      </div>
    </div>
  </div>
</body>

</html>